<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @copyright.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @copyright.image %>
</p>

<%= image_tag @copyright.image.expiring_url(:thumb) %>

<%= link_to 'Edit', edit_copyright_path(@copyright) %> |
<%= link_to 'Back', copyrights_path %>
